// @import '~react-datepicker/dist/react-datepicker.min.css';

.tools {
  width: 100%;
  padding: 20px 16px;
  background-color: var(--background-container);
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 2;
}

.tools-history > form,
.tools-flagger > form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin-left: 10px;
  }
}

.tools-history {
  form.tools-form-filter {
    .tools-select-time {
      .wrapper-picker-date {
        margin: 0 5px;
        display: inline-block;
      }
    }
  }
}

.tools-form-element {
  padding: 4px 3px;
  outline: none;
  height: 28px;
  font-family: 'Roboto', 'Noto', sans-serif;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.tools-flagger {
  .flagger-search-input {
    width: 207px;
  }

  form.tools-form-filter {
    .tools-filter {
      display: flex;
      align-items: center;
    }
  }
}
