.button {
  font: initial;
  display: inline-block;
  border: solid 1px transparent;
  outline: 0;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  font-family: 'YT Sans', 'Roboto', 'Arial', sans-serif;
  margin: 0;
  float: none;
  color: #000000;

  .button-is-loading {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    display: inline-block;
    margin-top: -1px;
    vertical-align: middle;
    margin-left: 5px;
    animation: rotate 1s infinite ease;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &.button-small {
    height: 20px;
    padding: 0 5px;
    font-size: 9px;
  }

  &.button-medium {
    height: 28px;
    padding: 0 10px;
    font-size: 11px;
  }

  &.button-big {
    height: 36px;
    padding: 0 15px;
    font-size: 13px;

    .button-is-loading {
      width: 12px;
      height: 12px;
    }
  }

  &.button-blue {
    color: #ffffff;
    border-color: #167ac6;
    background-color: #167ac6;
    &:disabled {
      opacity: 0.5;
    }
  }

  &.button-white {
    color: #000000;
    border-color: #ffffff;
    background-color: #ffffff;

    &:disabled {
      background-color: #b9b9b9;
      color: #7d7d7d;
    }
  }

  &.button-red {
    color: #ffffff;
    border-color: #b50707;
    background-color: #b50707;
    &:disabled {
      background-color: #b9b9b9;
      color: #7d7d7d;
    }
  }

  &.button-orange {
    color: #ffffff;
    border-color: #f17c1c;
    background-color: #f17c1c;
    &:disabled {
      background-color: #b9b9b9;
      color: #7d7d7d;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    opacity: 0.8;
  }
}
