.template-edit-fields,
.template-details {
  padding: 50px;
}

.template-details {
  padding-top: 30px;
  border-top: 1px solid #ffffff;

  p {
    margin-bottom: 10px;
  }
}

.template-info {
  color: var(--text-color);

  .template-edit-fields {
    padding-bottom: 30px;
    .template-title {
      font-size: 30px;
      border-width: 0 0 1px 0;
      border-radius: 0;
    }

    .template-description {
      resize: none;
    }

    textarea {
      min-height: 150px;
    }

    input,
    textarea,
    select {
      margin-bottom: 20px;

      &:hover {
        resize: vertical;
      }
    }
  }

  .remove-button {
    float: right;
    margin: 20px;
  }

  .template-info-bottom {
    text-align: right;
  }
}
