.templates {
  display: grid;
  padding: var(--gap);
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: 960px) {
    padding: var(--gap);
    padding-right: 0;
    grid-template-columns: 1fr 1fr;
  }

  .templates-add-box {
    .add-placeholder {
      display: flex;
      justify-content: space-between;
    }

    form {
      display: flex;
      flex-direction: column;

      .add-template-field {
        padding: 15px 0;

        input,
        textarea,
        select:valid {
          color: var(--text-color);
        }

        input::placeholder,
        textarea::placeholder,
        select:invalid {
          color: rgb(148, 148, 148);
        }

        textarea {
          min-height: 150px;
          max-height: 500px;
          resize: vertical;
          overflow-y: auto;
        }
      }

      button {
        align-self: flex-end;
      }
    }
  }

  .templates-list-container {
    padding-bottom: var(--gap);
    @media (min-width: 960px) {
      height: 100%;
      overflow-y: auto;
      padding-right: var(--gap);
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      .template-item {
        margin-bottom: 17px;

        a {
          display: flex;
          word-break: break-word;
          cursor: pointer;
          text-decoration: none;
          flex-direction: column;

          &:hover {
            opacity: 0.8;
          }
        }

        &-top {
          display: flex;
          justify-content: space-between;

          h2.template-item-title {
            line-height: 1.1;
            padding-bottom: var(--gap);
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
            font-weight: 600;
            overflow: hidden;
            margin: 0;
          }

          .template-item-reasons {
            text-align: right;
            color: var(--color-notes);
            svg {
              margin-right: 5px;
              color: #b50707;
            }
            span.template-item-reason {
              font-size: 11px;
              text-align: right;
            }
          }
        }
      }

      p.template-item-description {
        white-space: pre-wrap;
        min-height: 120px;
        margin-top: 20px;
        word-wrap: break-word;
      }

      time.template-item-created {
        align-self: flex-end;
        text-align: right;
        color: var(--color-notes);
        font-size: 11px;
      }
    }
  }
}

.template-list-title,
.template-add-title {
  &, & + p {
    text-align: center;
  }
}
.templates-add-box,
.template-item a {
  max-width: none;
}
