.searches {
  .searches-add-container {
    .top-search-action {
      display: flex;
      margin-bottom: 10px;
      align-items: flex-end;

      .input-container-search {
        flex: 1;
      }

      .button {
        margin-left: 10px;
      }
    }

    input,
    select {
      border-width: 0 0 1px 0;
      border-radius: 0;
      padding-left: 0;
    }

    .search-patterns {
      display: block;
      margin-top: 20px;

      textarea {
        margin-top: 1em;
      }
    }
  }

  .searches-list-container {
    margin-top: 50px;

    .list-actions-top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;

      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
      }
    }

    table td:last-child {
      text-align: right;
    }
  }
}
