.report {

  .report-top {
    display: flex;
    justify-content: space-between;

    .report-title {
      padding-bottom: 20px;
    }
    .report-select-template {
      width: auto;
      margin-bottom: 20px;
      padding: 0.4em 0.5em;
      color: #ffffff;
      border-color: #167ac6;
      background-color: #167ac6;
    }
  }


  fieldset {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .reason-legend {
    padding-bottom: 7px;
    font-size: 15px;
    text-decoration: underline;
  }

  .report-description-reason,
  .report-description-comment {
    padding: 5px 0 17px;
  }

  .report-bottom {
    display: flex;
    justify-content: flex-end;
  }
}
