.report {

  .report-top {
    display: flex;
    justify-content: space-between;

    .report-title {
      padding-bottom: 20px;
    }
    .report-select-template {
      width: auto;
      border-bottom: 1px solid rgba(140, 140, 140, 0.141);
    }
  }


  fieldset {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .reason-legend {
    padding-bottom: 7px;
    font-size: 15px;
    text-decoration: underline;
  }

  .report-description-reason,
  .report-description-comment {
    padding: 5px 0 17px;
  }

  .comment-textarea {
    resize: none;
    border: 2px solid #e4e3e3;
    box-sizing: border-box;
    width: 100%;
    height: 126px;
    padding: 12px 12px 32px;
    border-radius: 2px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: #f0f0f0;
    background-color: transparent;
    font-family: 'YouTube Noto', Roboto, arial, sans-serif;
    font-size: 12px;
    outline: none;

    &:focus {
      border-color: #ffffff;
    }
  }

  .report-bottom {
    display: flex;
    justify-content: flex-end;
  }
}
