.page {
  height: 100%;
  display: grid;
  grid-template-columns: 240px auto;

  main {
    background-color: var(--body-background);
    height: 100%;
    overflow: hidden;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: var(--color-scrollbar);
      transition: background-color 750ms;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      box-shadow: none;
      min-height: 36px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      box-shadow: none;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-clip: padding-box !important;
      color: var(--color-scrollbar);
      transition: color 750ms;
    }

    &:hover::-webkit-scrollbar-track {
      background: var(--color-scrollbar);
      transition: background 750ms;
    }

    &:hover::-webkit-scrollbar-thumb {
      background: var(--background-scrollbar);
      transition: background 750ms;
    }
  }
}