.flagger {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;

  .flagger-list-container {
    flex: 1;
    overflow-y: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.flagger-list-container-loading,
    &.flagger-list-container-empty {
      justify-content: center;
    }
  }
}