.video-list-item {
  display: flex;
  padding: 5px;
  font-family: 'Roboto', 'Noto', sans-serif;
  position: relative;

  .video-remove-from {
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #e02525;
    color: #ffffff;
    z-index: 10;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.5em;
  }

  .video-thumbnail {
    position: relative;
    overflow: hidden;

    img {
      border: 0;
      display: block;
    }
  }

  &:hover {
    background-color: var(--lighten-hover);
  }
}

.video-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;

  .video-title {
    font-size: 13px;
    margin: 0 0 10px;

    a {
      color: inherit;
      text-decoration: none;
      text-overflow: ellipsis;
      line-height: 16px;
      max-height: 16px;
      display: inline-block;
      overflow: hidden;
    }
  }

  .video-summary p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 500px;
  }

  .video-notes {
    font-size: 11px;
    color: var(--color-notes);
    margin-top: auto;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: #15c;
        text-decoration: underline;
      }
    }
  }
}

.video-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  span {
    font-size: 11px;
    display: block;
    text-align: right;
    margin-bottom: 6px;

    &.video-id {
      color: var(--color-notes);
    }
  }
  .video-status {
    &.video-is-removed {
      color: #921f1f;
    }
    &.video-is-reviewed {
      color: #0f570f;
    }
  }
}

.video-list-item:not(.video-removed) {
  .video-thumbnail {
    cursor: pointer;

    &::after {
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(88%);
      background-position: center center;
      position: absolute;
      left: -4px;
      top: -4px;
      bottom: -4px;
      right: -4px;
      content: '';
      z-index: 2;
      background-color: #000000;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .video-thumbnail-play {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%) scale(0);
      color: #ffffff;
      transition: transform 0.3s;
      border-radius: 50%;
    }

    &:hover {
      .video-thumbnail-play {
        transform: translate(-50%, -50%) scale(1);
      }
      &::after {
        opacity: 0.6;
      }
    }
  }
}

.video-list-item.video-removed {
  .video-title a {
    color: #ff0000;
  }
  .video-id {
    opacity: 0.65;
  }
}

.video-list-item.video-reviewed {
  .video-title a {
    color: green;
  }
}
