input.tf-input-material {
    padding: 2px 5px;
    width: 100%;
    outline: none;
    font-family: 'Roboto', 'Noto', sans-serif;
    outline: none;
    appearance: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.74);
    border: 0;
    background-color: #fff;
    transition: border-color 0.3s;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
}

input:focus {
    border-color: rgba($color: #000000, $alpha: 0.1);
}
