$gap: 30px;

.home {
  padding: 18px;

  .header-home {
    width: 100%;
    margin-bottom: 20px;
  }

  .container-box {
    display: grid;
    grid-row-gap: $gap;
    grid-column-gap: $gap;
    grid-template-columns: repeat(12, 1fr);

    .box-material {
      max-width: none;
    }

    & > div.big-box {
      grid-column: span 8;
    }

    & > div.full-box {
      grid-column: span 12;
    }

    & > div.mini-box {
      grid-column: span 4;
    }
  }
}

h4.title-box {
  margin: 0 0 20px;
  font-size: 14px;
}

.summary-numbers {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $gap;

  .box-summary-numbers {
    display: flex;
    align-items: center;

    .icon-mini-box {
      margin-right: 50px;
      svg {
        color: #CC0000;
        font-size: 1.5em;
      }
    }

    .title-box {
      font-weight: 400;
      margin: 0;

      span {
        font-weight: 500;
        font-size: 1.1em;
        padding-right: 5px;
        display: inline-block;
      }
    }
  }
}

.chart-container {
  width: 100%;
}
