.home {
  padding: var(--gap);

  .header-home {
    width: 100%;
    margin-bottom: 20px;
  }

  .container-box {
    display: grid;
    grid-row-gap: var(--gap);
    grid-column-gap: var(--gap);
    grid-template-columns: 1fr;

    @media (min-width: 960px) {
      grid-template-columns: repeat(12, 1fr);
    }

    .box-material {
      max-width: none;
    }

    @media (min-width: 960px) {
      & > div.big-box {
        grid-column: span 8;
      }

      & > div.full-box {
        grid-column: span 12;
      }

      & > div.mini-box {
        grid-column: span 4;
      }
    }
  }
}

h4.title-box {
  margin: 0 0 20px;
  font-size: 14px;
}

.summary-numbers {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--gap);

  .box-summary-numbers {
    display: flex;
    align-items: center;

    .icon-mini-box {
      margin-right: 50px;
      svg {
        color: #cc0000;
        font-size: 1.5em;
      }
    }

    .title-box {
      font-weight: 400;
      margin: 0;

      span {
        font-weight: 500;
        font-size: 1.1em;
        padding-right: 5px;
        display: inline-block;
      }
    }
  }
}

.summary-text {
  line-height: 1.3;
}

.templates-support {
  display: grid;
  grid-template-rows: 0.5fr 0.25fr 0.25fr;
  grid-gap: var(--gap);
}

.big-box .box-material {
  height: 100%;
}

.td-filters::first-letter {
  text-transform: uppercase;
}

.overview-program,
.overview-version {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    color: #167ac6;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      opacity: 0.75;
    }
  }

  p,
  svg {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    margin-left: 10px;
  }
}
