.home {
  padding: 18px;

  .header-home {
    width: 100%;
    margin-bottom: 20px;
  }

  .container-box {
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    & > div.big-box {
      grid-column: span 8;
      grid-row: span 6;
      max-width: none;
    }

    & > div.mini-box {
      grid-row: span 2;
      grid-column: span 4;
      display: flex;
      align-items: center;

      .icon-mini-box {
        margin-right: 50px;
        svg {
          font-size: 1.5em;
        }
      }

      .detail-mini-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-box {
          font-weight: 400;
          margin: 0;

          span {
            font-weight: 500;
            font-size: 1.1em;
            padding-right: 5px;
            display: inline-block;
            width: 26px;
          }
        }
      }
    }
  }
}

h4.title-box {
  margin: 0 0 20px;
  font-size: 14px;
}
