.history {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;

  .history-list-container {
    flex: 1;
    overflow-y: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.history-list-container-loading {
      justify-content: center;
    }
  }
}