.history {
  .video-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;

    .video-item {
      display: flex;
      padding: 5px;

      .video-thumbnail a {
        &, img {
          border: 0;
          display: block;
        }
      }

      &:hover {
        background-color: var(--lighten-hover);
      }
    }
  }
}

.video-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;

  .video-title {
    font-size: 13px;
    margin: 0 0 10px;

    a {
      color: inherit;
      text-decoration: none;
      text-overflow: ellipsis;
      line-height: 1;
      max-height: 13px;
      display: inline-block;
      overflow: hidden;
    }
  }

  .video-summary p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .video-notes {
    font-size: 11px;
    color: var(--color-notes);
    margin-top: auto;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: #15c;
        text-decoration: underline;
      }
    }
  }
}

.video-actions {
  margin-left: 20px;
  .video-status {
    font-size: 11px;

    &.video-is-removed {
      color: #921f1f;
    }
    &.video-is-reviewed {
      color: #0f570f;
    }
  }
}

.video-item.video-removed {
  .video-title a {
    color: #ff0000;
  }
}

.video-item.video-reviewed {
  .video-title a {
    color: green;
  }
}
