.targets {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;

  .targets-list-container {
    flex: 1;
    overflow-y: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.targets-list-container-loading,
    &.targets-list-container-empty {
      justify-content: center;
    }

    form {
      width: 100%;
    }

    .no-more-result {
      padding-bottom: 16px;
      font-size: 0.9em;
      color: #737070;
      opacity: 0.6;
    }

    .make-search {
      text-align: center;

      h3 {
        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 15px;
      }
    }
  }
}